<p>Hola,</p>
<p>Te notificamos que tu casillero "<%= @locker.name %>" ha sido abierto a las <%= @locker_opening.opened_at %> y cerrado a las <%= @locker_closure.closed_at %>.</p>
<strong>En el caso en que no hayas sido tú quien abrió el casillero, por favor contactate con el mail remitente.</strong>
<p>Si fuiste tú quien abrió el casillero, por favor ignora este mensaje.</p>
<p>Saludos,<br>Equipo 5.</p>