<div id="<%= dom_id controladorr %>">
  <p>
    <strong>Name:</strong>
    <%= controladorr.name %>
  </p>

  <p>
    <strong>Esp32 mac address:</strong>
    <%= controladorr.esp32_mac_address %>
  </p>

  <p>
    <strong>Locker count:</strong>
    <%= controladorr.locker_count %>
  </p>

</div>
