<% content_for :title, "Editing controladorr" %>

<h1>Editing controladorr</h1>

<%= render "form", controladorr: @controladorr %>

<br>

<div>
  <%= link_to "Show this controladorr", @controladorr %> |
  <%= link_to "Back to controladorrs", controladorrs_path %>
</div>
