<p style="color: green"><%= notice %></p>

<% content_for :title, "Controladorrs" %>

<h1>Controladorrs</h1>

<div id="controladorrs">
  <% @controladorrs.each do |controladorr| %>
    <%= render controladorr %>
    <p>
      <%= link_to "Show this controladorr", controladorr %>
    </p>
  <% end %>
</div>

<%= link_to "New controladorr", new_controladorr_path %>
