<% content_for :title, "New controladorr" %>

<h1>New controladorr</h1>

<%= render "form", controladorr: @controladorr %>

<br>

<div>
  <%= link_to "Back to controladorrs", controladorrs_path %>
</div>
