
<div>

  <% if user_signed_in? %>
    <h1>hola <%= current_user.email %>!</h1>
  <% else %>
    <h1>logeate primero!!</h1>
  <% end %>

  <%= link_to "Iniciar sesión con Google", user_google_oauth2_omniauth_authorize_path , method: :post, :data => {turbo: "false"} %>

  <br />
  <p>
    Google Client ID: <%= ENV['GOOGLE_CLIENT_ID'] %>
    <br />
    Google Client Secret: <%= ENV['GOOGLE_CLIENT_SECRET']%>
  </p>
  
</div>

listener 1884
allow_anonymous true