<div>
  <div style="text-align: center;">
    <br />
    <% if @controllers.nil? %>
      <h1>No tienes controladores...</h1>
    <% else %>
      <h1>Revisa tus controladores!</h1>
    <% end %>
    <br />
    
    <a class="btn btn-success btn-lg" href="/controllers/available"> 
      Agrega un Controlador
    </a> 
    
  </div>

  <br />

  <% @controllers.each do |controller|%>
    <div class="custom-card mx-auto">
      <div class="card-body">
        
        <h5 class="custom-card-title">
          <%= controller.name %>
        </h5>
        
        <p class="custom-card-text">
          con <%= controller.locker_count %> casilleros.
        </p>
        
        <%= link_to 'Ver', controller_path(controller), class: 'btn btn-info' %>
      </div>
    </div>
  <% end %>
</div>