<div>
  <div style="text-align: center;">
    
    <% if @controllers.nil? %>
      <h1>No tienes controladores...</h1>
    <% else %>
      <h1>Revisa tus controladores!</h1>
    <% end %>
    <br />
    
    <div>

      <a class="btn btn-success btn-lg" href="/controllers/available"> 
        Agrega un Controlador
      </a>

      <a class="btn btn-success btn-lg" href="/controllers/new"> 
        Crea un Controlador!
      </a> 
    
    </div>

  </div>

  <br />

  <% @controllers.each do |controller|%>
    <div class="custom-card mx-auto">
      <div class="card-body">
        
        <h5 class="custom-card-title">
          <%= controller.name %>
        </h5>
        
        <p class="custom-card-text">
          con <%= controller.lockers.count %> casilleros.
        </p>
        
        <%= link_to 'Ver', controller_path(controller), class: 'btn btn-info' %>
      </div>
    </div>
  <% end %>
</div>